Say something to your coach <br>

<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="answer" placeholder="Questionne moi">
  <input type="submit" value="Ask!">
</form>
